.movies-card {
  margin: 0;
  padding: 0;
  max-width: 270px;
  min-height: 230px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

.movies-card__img {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 151px;
  object-fit: contain;
  object-position: center center;
  background-color: #222225;
}

.movies-card__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 0;
  padding: 10px 0 25px 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #424242;
}

.movies-card__title {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  justify-self: start;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.movies-card__like,
.movies-card__del {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  justify-self: end;
  opacity: 1;
}
.movies-card__del {
  opacity: 0;
}

.movies-card:hover .movies-card__del {
  opacity: 1;
}

.movies-card__del:hover,
.movies-card__like:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s linear;
}

.movies-card__duration {
  margin: 6px 0 0 0;
  padding: 0;
  width: auto;
  height: auto;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8b8b8b;
}
