.nav-popup {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav-popup {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: visibility 0.3s linear;
    z-index: 9;
    overflow: hidden;
  }

  .nav-popup_opened {
    visibility: visible;
    transition: visibility 0.3s linear;
  }

  .nav-popup__container {
    position: absolute;
    top: 0;
    right: -520px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 22px 22px 90px 22px;
    width: 520px;
    height: 100vh;
    background-color: #202020;
    transition: top 0.3s, right 0.3s linear;
    z-index: 11;
  }

  .nav-popup__container_opened {
    opacity: 1;
    top: 0;
    right: 0;
    transition: opacity 0.3s, top 0.3s, right 0.3s linear;
  }

  .nav-popup__close-btn {
    margin: 0 0 105px auto;
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    background-color: transparent;
    outline: none;
    opacity: 1;
    order: -1;
  }

  .nav-popup__close-btn:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s linear;
  }

  .nav-popup__close-icon{
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    object-fit: contain;
    object-position: center center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-popup {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: visibility 0.3s linear;
    z-index: 9;
    overflow: hidden;
  }

  .nav-popup_opened {
    visibility: visible;
    transition: visibility 0.3s linear;
  }

  .nav-popup__container {
    position: absolute;
    top: 0;
    right: -320px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 13px 13px 46px 13px;
    width: 320px;
    height: 100vh;
    background-color: #202020;
    transition: top 0.3s, right 0.3s linear;
    z-index: 11;
  }

  .nav-popup__container_opened {
    opacity: 1;
    top: 0;
    right: 0;
    transition: opacity 0.3s, top 0.3s, right 0.3s linear;
  }

  .nav-popup__close-btn {
    margin: 0 0 99px auto;
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    background-color: transparent;
    outline: none;
    opacity: 1;
    order: -1;
  }

  .nav-popup__close-btn:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s linear;
  }

  .nav-popup__close-icon{
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    object-fit: contain;
    object-position: center center;
  }
}
