.app {
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: 1280px){
  .app {
    width: 100%;
  }
}
