.site-nav {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.site-nav__item {
  margin: 0 16px 0 0 ;
  padding: 0;
  width: auto;
  height: auto;
}

.site-nav__link {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  opacity: 1;
}

.site-nav__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.site-nav__link_active {
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
